/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

/**
	Gorge - Portfolio Template 
	Author : Tavonline
	Copyright 2018

/* Table of Content
==================================================
	
	1. Body and Core Css
	2. Home Page
     2.1 Portfolio Section
     2.2 Twitter Section



/*------------------------ 1 Body and Core Css ------------------------*/

body {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 170px;
  font-weight: 500;
}

.full-open header {
  position: fixed;
}

header {
  padding: 30px;
  width: 100%;
  position: absolute;
  z-index: 5;
}

/* Preloader */

.preloader {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999;
}

.preloader .loader {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #000;
  -o-animation: loader 2s infinite ease;
  -ms-animation: loader 2s infinite ease;
  -moz-animation: loader 2s infinite ease;
  -webkit-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.preloader .loader .loader-inner {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  background-color: #000;
  -o-animation: loader-inner 2s infinite ease-in;
  -ms-animation: loader-inner 2s infinite ease-in;
  -moz-animation: loader-inner 2s infinite ease-in;
  -webkit-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* Margins */

.top_15 {
  margin-top: 15px;
}

.top_30 {
  margin-top: 30px;
}

.top_45 {
  margin-top: 45px;
}

.top_60 {
  margin-top: 60px;
}

.top_90 {
  margin-top: 90px;
}

.top_120 {
  margin-top: 120px;
}

.padding_30 {
  padding: 30px 0;
}

.padding_45 {
  padding: 45px 0;
}

.padding_60 {
  padding: 60px 0;
}

.padding_90 {
  padding: 90px 0;
}

.padding_120 {
  padding: 120px 0;
}

.bottom_15 {
  margin-bottom: 15px;
}

.bottom_30 {
  margin-bottom: 30px;
}

.bottom_45 {
  margin-bottom: 45px;
}

.bottom_60 {
  margin-bottom: 60px;
}

.bottom_90 {
  margin-bottom: 90px;
}

.bottom_120 {
  margin-bottom: 120px;
}

.padbot_15 {
  padding-bottom: 15px;
}

.padbot_30 {
  padding-bottom: 30px;
}

.padbot_45 {
  padding-bottom: 45px;
}

.padbot_60 {
  padding-bottom: 60px;
}

.subtitle {
  font-size: 22px;
  font-weight: bold;
}

.site-btn {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  border: solid 2px #ea0026;
  border-radius: 50px;
  padding: 11px 45px;
  text-decoration: none;
  /* Old browsers */
  background-size: 202% 100%;
  background-position: right bottom;
  margin-left: 10px;
  transition: all 1s ease;
  display: inline-block;
}

.site-btn:hover {
  background-position: left bottom;
  text-decoration: none;
  color: #fff !important;
}

.site-btn.arrow {
  font-size: 14px;
  padding: 11px 22px;
}

.site-btn.arrow:after {
  font-family: "Font Awesome 5 Free";
  content: "\f30b";
  font-weight: 900;
  float: right;
  margin-left: 32px;
}

.site-btn2 {
  background: #212121;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  border-radius: 50px;
  padding: 12px 60px;
  color: #fff;
  cursor: pointer;
  line-height: 25px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.site-btn2:hover {
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

